.App {
  text-align: center;
}
body {
  background-color: rgb(209, 140, 105);
}
.add-button{
  background-color: aqua;
  border-radius:6px;
  
}

.tasks {
  display: flex;
  justify-content: center;
  gap: 5px;
}
input{
  font-size: 20px;
}
h1 {
  font-size: 20px;
}